stages:
  - deploy-production

deploy-production:
  stage: deploy-production
  environment:
    name: production
    url: https://mein.silberpfoten.de
  variables:
    COMPOSE_BAKE: "true"
  before_script:
    - docker image prune -f
    - docker volume prune -f
    - docker container prune -f
  script:
    - docker compose -f docker-compose.yml up --build --detach
  rules:
    - if: $CI_COMMIT_TAG
  when: manual
  tags:
    - "mein-silberpfoten-web-01-shell"