services:

  silberpfoten-db:
    container_name: silberpfoten-db
    image: postgres:18.2-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5433:5432
    networks:
      - silberpfoten
    volumes:
      - ./config/postgres/001_schema.sql:/docker-entrypoint-initdb.d/001_schema.sql
      - ./config/postgres/010_fixtures.sql:/docker-entrypoint-initdb.d/010_fixtures.sql
      - postgres-data:/var/lib/postgresql/data

networks:
  silberpfoten: {}

volumes:
  postgres-data: