services:

  silberpfoten-proxy:
    image: "traefik:v3.4"
    container_name: "silberpfoten-proxy"
    restart: always
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.letsencrypt.acme.email=info@stigits.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "letsencrypt-data:/letsencrypt"
    networks:
      - silberpfoten

  silberpfoten-app:
    build: .
    container_name: silberpfoten-app
    image: ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}:${CI_COMMIT_REF_SLUG}
    restart: always
    environment:
      EMAIL_HOST: $EMAIL_HOST
      EMAIL_PORT: $EMAIL_PORT
      EMAIL_SECURE: $EMAIL_SECURE
      EMAIL_USER: $EMAIL_USER
      EMAIL_PASS: $EMAIL_PASS
      JWT_SECRET: $JWT_SECRET
      NEXT_PUBLIC_HOST: $NEXT_PUBLIC_HOST
      PGDATABASE: postgres
      PGHOST: $PGHOST
      PGPASSWORD: $PGPASSWORD
      PGPORT: 5432
      PGUSER: postgres
    networks:
      - silberpfoten
    labels:
      - traefik.enable=true

      # redirect http to https
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https

      # set explicit network
      - traefik.docker.network=silberpfoten

      # load balancer
      - traefik.http.services.webapp.loadbalancer.server.port=3000

      # main-domain (www)
      - traefik.http.routers.https-webapp-staging.rule=Host(`mein.silberpfoten.de`) && PathPrefix(`/`)
      - traefik.http.routers.https-webapp-staging.entrypoints=websecure
      - traefik.http.routers.https-webapp-staging.tls.certresolver=letsencrypt
      - traefik.http.routers.https-webapp-staging.service=webapp

networks:
  silberpfoten: {}

volumes:
  letsencrypt-data:
